.home {
  margin: 0% 10%;
  padding: 2% 5%;
  background-color: rgb(245, 245, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.available {
  color: rgb(0, 0, 0);
}

.not-available {
  color: rgb(162, 162, 162);
}